.main {
  @apply flex min-h-screen flex-col gap-x-4 gap-y-6 bg-rose-50 px-5 py-5 font-red-hat-text sm:flex-row sm:py-8 md:gap-x-5 md:px-8 md:py-10 lg:gap-x-6 lg:px-11 lg:py-14 xl:gap-x-8 xl:px-16;
}

.footer {
  @apply w-full bg-rose-50 py-6 text-center text-sm text-gray-600;

  a {
    @apply text-gray-800 underline transition-colors hover:text-rose-600;
  }
}
