@import "../../breakpoints.scss";

.container {
  @apply fixed bottom-0 right-0 flex h-screen w-screen -translate-y-full items-end justify-center overflow-hidden bg-black/50 transition-transform duration-300 sm:items-center;

  .box {
    @apply invisible max-h-screen translate-y-10 overflow-auto rounded-lg bg-white p-6 opacity-0 transition-all delay-500 duration-300;
    width: 32rem;
    @media (width < $sm) {
      width: 100%;
    }

    .confirmIcon {
      @apply w-9 lg:w-10;
    }

    .title {
      @apply mt-3 text-2xl font-bold text-rose-900 lg:mt-4 lg:text-3xl;
    }

    .desc {
      @apply block text-sm text-rose-500 lg:text-base;
    }

    .innerBox {
      @apply mt-5 rounded-md bg-rose-50 p-4;

      .itemsContainer {
        .item {
          @apply relative flex items-center gap-x-4 py-4;

          .itemImage {
            @apply h-11 w-11 rounded object-cover;
          }

          .infoContainer {
            @apply flex-grow text-sm;

            .name {
              @apply font-semibold text-rose-900;
            }

            .quantityPrice {
              @apply mt-1;

              .quantity {
                @apply font-semibold text-red;
              }

              .price {
                @apply ml-4 text-rose-400;
              }
            }
          }

          .priceMain {
            @apply text-sm font-semibold;
          }

          &:before {
            @apply absolute bottom-0 w-full bg-rose-100;
            content: "";
            height: 1px;
          }

          &:first-child {
            @apply pt-0;
          }
        }
      }

      .orderContainer {
        @apply mt-4 flex items-center justify-between text-rose-900;

        .field {
          @apply text-sm;
        }

        .value {
          @apply text-xl font-bold;
        }
      }
    }

    .btn {
      @apply relative mt-6 w-full overflow-hidden rounded-full bg-red py-2 text-white outline outline-offset-2 outline-transparent transition-all duration-200 focus:translate-y-2 focus:outline-red lg:py-3;

      span {
        @apply relative;
      }

      &:before {
        content: "";
        @apply absolute bottom-full left-0 h-full w-full rounded-full transition-all duration-200;
        background-color: hsl(14, 86%, 30%);
      }

      &:hover {
        &:before {
          @apply bottom-0;
        }
      }
    }
  }

  &.open {
    @apply translate-y-0;

    .box {
      @apply visible translate-y-0 opacity-100;
    }
  }
}
